{% extends 'layouts.html' %}


{% block body %}
	<h1>How to run this App?</h1>

	<p>Model Factory uses digital twins to visualize the cobot movement in real time and also to simulate the cobot movement using the sliders presented in the dashboard</p>
	<p>The below process shows how to create your cobot digital twin using the application in under 5 minutes</p>
	<!--<ol>
		<li>Register yourself by filling the information below. If you are already registered then skip this step please.</li>
		<p> </p>
		<img src="static/images/1.png" width="800" height="300" style="border:2px solid green">
				<p> </p>
		<li>Login with your credentials as shown below:</li>
				<p> </p>
		<img src="static/images/2.png" width="800" height="200" style="border:2px solid green">
				<p> </p>
		<li>Once you are logged in, please upload your digital twin specification file in "Json" format. The sample template is attached below. You have to use your cad software to save the links that make up a cobot as separate obj files and save them in your computer. <b>Important: Please rotate your cobot model straight before exporting the obj files. <a href="https://www.freecadweb.org/wiki/Export_to_STL_or_OBJ">Link</a> shows how to export using FreeCAD software</b></li>
				<p> </p>
		<img src="static/images/3.png" width="800" height="60" style="border:2px solid green">
				<p> </p>
		<img src="static/images/4.png" width="800" height="200" style="border:2px solid green">
				<p> </p>
		<img src="static/images/dts1.png" width="800" height="380" style="border:2px solid green">
		<p> </p>
		<li>The code will read the file and ask you for CAD files in obj format. Please note that we only support obj files for now. This is a limitation on webgl library that we are using at the moment. Example screenshot shows the obj files required for Kuka IIWA 14 cobot.</li>
		

				<p> </p>
		<img src="static/images/5.png" width="800" height="700" style="border:2px solid green">
				<p> </p>
		<li value=" ">If your files are in correct format, then you would see the cobot model in 3D as below:</li>
				<p> </p>
		<img src="static/images/6.png" width="800" height="420" style="border:2px solid green">
				<p> </p>
		<li>Play around with the cobot orientation using the sliders given on the right hand side.</li>
				<p> </p>
		<li>You can either use the console or connect to the real cobot using a web socket connection. Click on <b>Use Websocket</b> button, Enter IP of your websocket server and click <b>Connect</b></li>
				<p> </p>
		<li>If the server is running, you will see the status bar color turned to green and the cobot will move according to the data from the real cobot.</li>
				<p> </p>
		<img src="static/images/7.png" width="800" height="100" style="border:2px solid green">
				<p> </p>
		<li>Make sure that the joint data sent by the web socket server is according to the format of your dts file and looks like below example</li>
		<p> </p>
		<img src="static/images/dts2.png" width="150" height="120" style="border:2px solid green">
		<p> </p>
		<li> You are all set now !!</li>
		<p> </p>
		<p> </p>
		<p> </p>
		<p> </p>
	</ol>-->

{% endblock %}