{% extends 'layouts.html' %}


{% block body %}
	<h1>File uploaded successfully <small>{{session.username}}</small></h1>
	<p> Please upload all the below listed CAD files. We only support obj files for now !!</p>
	<ul class ="list-group">
		{% for cad in cadarray %}
		<li class="list-group-item">{{cad}}</li>
		{% endfor%}
	</ul>
<div class="container">
   <form action="webgl" method="post" enctype="multipart/form-data">
  		<input type="file" name="obj[]" multiple=""><br /> <br />
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
</div>
	
{% endblock %}